<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-12">Add-ons</div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-6">Extra bag 
                <span class="material-icons icon-sm">&#xE88E;</span>
                </div>
            <div class="col-4">$25.00</div>
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-success" value="Add">
            </div>
        </div>
        <div class="row">
            <div class="col-6">Trip protection
                <span class="material-icons icon-sm">&#xE88E;</span>
            </div>
            <div class="col-4">$25.00</div>
            <div class="col-2">
                <input type="button" class="btn btn-sm" value="Add">
            </div>
        </div>
        <div class="row">
            <div class="col-6">Extra bag
                <span class="material-icons icon-sm">&#xE88E;</span>
            </div>
            <div class="col-4">$25.00</div>
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-success" value="Add">
            </div>
        </div>
    </div>
</div>