<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-12">
                Booking Notes
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row title">
            <div class="col-1"></div>
            <div class="col-4">Note</div>
            <div class="col-2">Agent</div>
            <div class="col-2">Created</div>
            <div class="col-2">Updated</div>
        </div>
        <div class="row">
            <div class="col-1 no-padding">                  
                <div>
                    <a href="#"><span class="material-icons">&#xE254;</span></a>
                    <a href="#"><span class="material-icons">&#xE872;</span></a>
                </div>
            </div>
            <div class="col-4">Explained trip protection</div>
            <div class="col-2">Nicole McCall</div>
            <div class="col-2">17May17</div>
            <div class="col-2">17May17</div>
        </div>
        <div class="row">
            <div class="col-1 no-padding">
                <div>
                    <a href="#"><span class="material-icons">&#xE254;</span></a>
                    <a href="#"><span class="material-icons">&#xE872;</span></a>
                </div>
            </div>
            <div class="col-4">Explained trip protection</div>
            <div class="col-2">Nicole McCall</div>
            <div class="col-2">17May17</div>
            <div class="col-2">17May17</div>
        </div>
    </div>

</div>