<div class="panel cart-table">
    <div class="panel-title">
        <div class="row">
            <div class="col-3 col-lg-4">Reservation</div>
            <div class="col-6 col-lg-6 panel-title-right">$88/pax|$176 total</div>
            <div class="col-3 col-lg-2">
                <input type="button" class="btn btn-sm btn-success" value="Buy">
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row d-flex flex-row align-items-lg-start">
            <div class="col-12 col-lg-8 cart-table-checkout">
                <div class="row">
                    <div class="col-2 col-lg-2">
                        <div>
                            AOO-PIT
                            <a href="#" data-toggle="modal" data-target="#changeReservationModal"><span class="material-icons">&#xE254;</span></a>
                        </div>
                    </div>
                    <div class="col-2 col-lg-3">
                        1300-1430
                    </div>
                    <div class="col-2 col-lg-2">
                        9X212
                    </div>
                    <div class="col-2 col-lg-2">
                        30May
                    </div>
                    <div class="col-2 col-lg-2">
                        $59.00
                    </div>
                    <div class="col-2 col-lg-1">
                        x2
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 col-lg-2">
                        AOO-PIT
                        <a href="#"><span class="material-icons">&#xE254;</span></a>
                    </div>
                    <div class="col-2 col-lg-3">
                        1300-1430
                    </div>
                    <div class="col-2 col-lg-2">
                        9X212
                    </div>
                    <div class="col-2 col-lg-2">
                        30May
                    </div>
                    <div class="col-2 col-lg-2">
                        $59.00
                    </div>
                    <div class="col-2 col-lg-1">
                        x2
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-lg-9 tax-name">
                        Trip Protection
                        <a href="#"><span class="material-icons">&#xE254;</span></a>
                    </div>
                    <div class="col-2 col-lg-2">
                        $17.00
                    </div>
                    <div class="col-2 col-lg-1">
                        x1
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 cart-table-add-info">
                <div class="row">
                    <div class="col-9 col-lg-7 no-borders align-left">Daniel Helland</div>
                    <div class="col-3 col-lg-5 no-borders">
                        <a href="#"><span class="material-icons">&#xE254;</span></a>
                        <a href="#"><span class="material-icons">&#xE147;</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9 col-lg-7 no-borders align-left">Claire Helland</div>
                    <div class="col-3 col-lg-5 no-borders">
                        <a href="#"><span class="material-icons">&#xE254;</span></a>
                        <a href="#"><span class="material-icons">&#xE147;</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9 col-lg-7 no-borders">
                        <div class="form-group align-left">
                            <label class="full-width">
                                <span>Promo</span>
                                <input type="text" class="form-control">
                            </label>
                        </div>
                    </div>
                    <div class="col-3 col-lg-5 no-borders cart-table-btn-apply">
                        <input type="button" class="btn btn-sm btn-success align-right"
                            value="Apply">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>