<div class="modal fade" id="newProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newProfileModalLabel">Create New Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="full-width">
                            <span>First name</span>
                            <input type="text" class="form-control">
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="full-width">
                            <span>Last name</span>
                            <input type="text" class="form-control">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="full-width">
                            <span>Email</span>
                            <input type="email" class="form-control">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="full-width">
                            <span>Primary Phone</span>
                            <input type="text" class="form-control">
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="full-width">
                            <span>Type</span>
                            <select class="form-control">
                                <option selected>Cell</option>
                                <option>Home</option>
                                <option>Office</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm">Create</button>
        <button type="button" class="btn btn-success btn-sm">Create and add another</button>
      </div>
    </div>
  </div>
</div>