<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-6 col-lg-3">
                <div class="panel-title-text">Caller info</div>
            </div>
            <div class="col-6 col-lg-3">
                <input type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newProfileModal" value="New Profile">
            </div>
            <div class="col-6 col-lg-3"><input type="text" class="form-control"></div>
            <div class="col-6 col-lg-3"><input type="button" value="Update" class="btn btn-sm btn-success"></div>
        </div>
    </div>
    
    <div class="panel-content">
        <div class="row">
            <div class="col-1 col-lg-1">
                <input type="checkbox">
            </div>
            <div class="col-6 col-lg-6">
                Daniel helland
            </div>
            <div class="col-2 col-lg-2">
                12345
            </div>
            <div class="col-3 col-lg-3 col-button">
                <input type="button" class="btn btn-sm btn-gold" value="Gold Elite">
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-lg-1">
                <input type="checkbox">
            </div>
            <div class="col-6 col-lg-6">
                Claire Helland
            </div>
            <div class="col-2 col-lg-2">
                12345
            </div>
            <div class="col-3 col-lg-3 col-button">
                <input type="button" class="btn btn-sm" value="Platinum Elite">
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-lg-1">
                <input type="checkbox">
            </div>
            <div class="col-6 col-lg-6">
                Henry Helland
            </div>
            <div class="col-2 col-lg-2">
                23434
            </div>
            <div class="col-3 col-lg-3 col-button">
                <input type="button" class="btn btn-sm btn-primary" value="Base Member">
            </div>
        </div>
    </div>
</div>