<div class="panel max-height">
    <div class="panel-title">
        <div class="row">
            <div class="col-8 col-lg-9">
                <span class="panel-title-text">Customer Care Cases</span>
            </div>
            <div class="col-4 col-lg-3">
                <input type="button" class="btn btn-sm btn-success" value="Add">
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row title">
            <div class="col-2"></div>
            <div class="col-4">Title</div>
            <div class="col-2">Case</div>
            <div class="col-2">Status</div>
            <div class="col-2">Updated</div>
        </div>
        <div class="row">
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-primary" value="View">
            </div>
            <div class="col-4">Delayed flight</div>
            <div class="col-2">309456</div>
            <div class="col-2">Resolved</div>
            <div class="col-2">15May17</div>
        </div>
        <div class="row align-items-start">
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-primary" value="View">
            </div>
            <div class="col-4">My flight was cancled</div>
            <div class="col-2">309456</div>
            <div class="col-2">Resolved</div>
            <div class="col-2">15May17</div>
        </div>
    </div>

</div>