<div class="row">
    <div class="col-12">
        <div class="panel">
            <div class="panel-title">
                <div class="row">
                    <div class="col-8 col-lg-8">
                        Next flight
                    </div>
                    <div class="col-4 col-lg-4">
                        <input type="button" 
                            class="btn btn-sm btn-success" value="Go">
                    </div>
                </div>
            </div>
            <div class="panel-content">
                <div class="row title">
                    <div class="col-4">AOO-PIT</div>
                    <div class="col-4">10May17</div>
                    <div class="col-4">ABCDEF</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel">
            <div class="panel-title">
                <div class="row">
                    <div class="col-8 col-lg-8">
                        Last Flight
                    </div>
                    <div class="col-4 col-lg-4">
                        <input type="button" class="btn btn-sm btn-success" value="Go">
                    </div>
                </div>
            </div>
            <div class="panel-content">
                <div class="row title">
                    <div class="col-4">PIT-AOO</div>
                    <div class="col-4">10May17</div>
                    <div class="col-4">ABCDEF</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel">
            <div class="panel-title">
                <div class="row">
                    <div class="col-8 col-lg-8">
                        Available miles
                    </div>
                    <div class="col-4 col-lg-4">
                        <input type="button" class="btn btn-sm btn-success" value="History">
                    </div>
                </div>
            </div>
            <div class="panel-content">
                <div class="row title">
                    <div class="col-12">103,579</div>
                </div>
            </div>
        </div>
    </div>
</div>