<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/panel.css">
        <link type="text/css" rel="stylesheet" href="css/main.css">
        <link type="text/css" rel="stylesheet" href="css/navbar.css">
        <link type="text/css" rel="stylesheet" href="css/modal.css">
    </head>
    <body>
        <div class="wrapper d-flex align-items-stretch">
            <%- include('../navbar') %>
            <div class="content container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <%- include('caller-info') %>
                        <div class="row">
                            <div class="col-12 caller-buttons-wrapper">
                                <input type="button" class="btn btn-md btn-success btn-book" value="Book">
                                <input type="button" class="btn btn-md btn-primary btn-find" value="Find">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <%- include('customer-care-cases') %>
                    </div>
                </div>
                <div class="row d-flex align-items-stretch">
                    <div class="col-12 col-lg-4 flight-info-wrapper">
                        <%- include('flight-info') %>
                    </div>
                    <div class="col-12 col-lg-8">
                        <%- include('notes') %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <%- include('open-credits') %>
                    </div>
                </div>
            </div>
        </div>

        <%- include('add-new-modal') %>

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/tether.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>