<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-8 col-lg-10">
                <span class="panel-title-text">Notes</span>
            </div>
            <div class="col-4 col-lg-2">
                <input type="button" class="btn btn-sm btn-success" value="Add">
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row title">
            <div class="col-6">
                Note
            </div>
            <div class="col-2">Agent</div>
            <div class="col-2">Created</div>
            <div class="col-2">Updated</div>
        </div>
        <div class="row">
            <div class="col-6 panel-content-note">
                <div>
                    <a href="#"><span class="material-icons">&#xE254;</span></a>
                </div>
                <div>
                    <a href="#"><span class="material-icons">&#xE872;</span></a>
                </div>
                <div>
                    Pax is scared of flying
                </div>
                <a href="#"><span class="material-icons">&#xE866;</span></a>
            </div>
            <div class="col-2">Nicole McCall</div>
            <div class="col-2">03Mar15</div>
            <div class="col-2">03Mar15</div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="panel-content-note">
                    <div>
                        <a href="#"><span class="material-icons">&#xE254;</span></a>
                    </div>
                    <div>
                        <a href="#"><span class="material-icons">&#xE872;</span></a>
                    </div>
                    <div class="panel-content-text">
                        Cats' names are Winston and Tiny
                    </div>
                    <div>
                        <a href="#"><span class="material-icons">&#xE866;</span></a>
                    </div>
                </div>
            </div>
            <div class="col-2">Alex Soholt</div>
            <div class="col-2">12May16</div>
            <div class="col-2">16Mar17</div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="panel-content-note">
                    <div>
                        <a href="#"><span class="material-icons">&#xE254;</span></a>
                    </div>
                    <div>
                        <a href="#"><span class="material-icons">&#xE872;</span></a>
                    </div>
                    <div>
                        Recieved compensation on 4/1/17 for canceled flight
                    </div>
                </div>
            </div>
            <div class="col-2">Nicole McCall</div>
            <div class="col-2">12May16</div>
            <div class="col-2">16Mar17</div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="panel-content-note">
                    <div>
                        <a href="#"><span class="material-icons">&#xE254;</span></a>
                    </div>
                    <div>
                        <a href="#"><span class="material-icons">&#xE872;</span></a>
                    </div>
                    <div>
                        Pax was given a $50 voucher for future flight due to incontinent dog on flight from 3/16
                    </div>
                </div>
            </div>
            <div class="col-2">Alex Sohotl</div>
            <div class="col-2">12May16</div>
            <div class="col-2">16Mar17</div>
        </div>
    </div>
</div>