<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-10">Open Credits</div>
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-success" value="New">
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row title">
            <div class="col-2 col-lg-2"></div>
            <div class="col-2 col-lg-2">Voucher</div>
            <div class="col-2 col-lg-2">Amount</div>
            <div class="col-2 col-lg-2">Created</div>
            <div class="col-2 col-lg-2">Expires</div>
            <div class="col-2 col-lg-2">Notes</div>
        </div>
        <div class="row">
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-primary" value="View">
            </div>
            <div class="col-2">12345678</div>
            <div class="col-2">$75.00</div>
            <div class="col-2">01Apr17</div>
            <div class="col-2">01Apr18</div>
            <div class="col-2">Flight 405 was canceled in 4/1</div>
        </div>
        <div class="row">
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-primary" value="View">
            </div>
            <div class="col-2">12345678</div>
            <div class="col-2">$50.00</div>
            <div class="col-2">18Mar17</div>
            <div class="col-2">18Mar18</div>
            <div class="col-2">Incontinent dog on flight</div>
        </div>
    </div>
</div>