<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

        <ul>
            <li><a href="/pax">Pax - Main</a></li>
            <li><a href="/res">Res - Search Page</a></li>
            <li><a href="/res-payment">Res - Payment Page</a></li>
            <li><a href="/res-pnr">Res - PNR</a></li>
            <li><a href="/si">Schedules and Inventory</a></li>
        </ul>
    </body>
</html>