<div class="nav-wrapper">
    <div class="nav-header">
        <nav class="nav flex-column">
            <a class="nav-link" href="/res">
                <div class="nav-link-item">Res</div>
            </a>
            <a class="nav-link active" href="/pax">
                <div>Pax</div>
            </a>
            <a class="nav-link" href="/si">
                <div class="nav-link-item">S & I</div>
            </a>
            <a class="nav-link" href="#">
                <div class="nav-link-item">Report</div>
            </a>
            <a class="nav-link" href="#">
                <div class="nav-link-item">Admin</div>
            </a>
        </nav>
    </div>
    <div class="nav-footer">
        <div class="buttons-wrapper">
            <a href="#"><span class="material-icons">&#xE87C;</span></a>
            <a href="#"><span class="material-icons">&#xE572;</span></a>
        </div>
    </div>
</div>