body,
html {
    height: 100vh;
    font-size: 13px;
    min-width: 568px;
}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-basis: 80px;
}

.nav-wrapper {
    min-width: 82px;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}


.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.max-height {
    height: 100%;
}

.content {
    flex-grow: 1;
}

.content.container > div.row {
    margin-top: 15px;
}

.buttons-wrapper > div {
    display: inline-block;
}

.btn {
    color: white;
}

.btn:active {
    background-color: gray;
}

.btn-gold {
    background-color: #f0ad4e;
}

.flight-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caller-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caller-buttons-wrapper .btn-book {
    flex-grow: 2;
}

.caller-buttons-wrapper .btn-find {
    flex-grow: 1;
}

.material-icons.icon-sm {
    font-size: 16px;
}

.material-icons.icon-md {
    font-size: 20px;
}

.no-padding {
    padding: 0;
}

[class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
    min-height: 40px;
}

.panel-title .row {
    min-height: none;
}

.modal-amount-text,
.modal-amount-button {
    display: inline-block;
}

.modal-amount-text {
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 2px;
}

.btn-icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper {
    display: inline-block;
    max-width: 70px;
    margin: 0 5px;
}

.icon-wrapper {
    display: inline-block;
    margin-right: 4px;
}

.icon-wrapper .material-icons {
    font-size: 24px;
}

.inputs-container .select-wrapper {
    padding-top: 15px;
    width: 100px;
}

.inputs-container .select-wrapper select {
    padding-right: 0;
    text-align: center;
    font-size: 11px;
    min-width: 85px;
}

.search-panel-container .row.title .material-icons {
    vertical-align: middle;
    padding-bottom: 4px;
}

.number-ticket {
    word-break: break-all;
}