.nav-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-right: 1px solid #d0d0d0;
    justify-content: space-between;
    min-height: 100vh;
}

.nav-header {
    display: flex;
    flex-direction: column;
}

.nav-footer span {
    font-size: 38px;
}

.nav-link {
    border-top: 1px solid #d0d0d0;
    color: #333333;
}

.nav-link:hover {
    background-color: gray;
}

.nav-link.active {
    background-color: #d0d0d0;
}