.panel {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    flex-direction: column;
    font-size: 13px;
}

.panel input[type="button"] {
    font-size: 12px;
}

.panel-title {
    border-bottom: 1px solid #e5e5e5;
    padding: 3px;
    padding-right: 0;
    text-align: left;
    background-color: #f5f5f5;
    font-size: 16px;
}

.panel-content {
}

.panel-title .row {
    min-height: 30px;
}

.panel-title .flex-title {
    display: flex;
    justify-content: space-between;
}

.panel-title-right {
    text-align: right;
}

.panel-title .flex-title div {
    max-height: 30px;
}

.panel .custom-select {
    font-size: 12px;
    height: 28px;
}

.panel-title .row,
.panel-content .row,
.panel-footer .row {
    margin: 0;
}

.panel .row.title {
    font-weight: bold;
    border-bottom: 2px solid #e5e5e5;
}

.panel-title .row input[type="button"] {
    width: 100%;
}

.panel-title-text {
    padding: 3px;
}

.panel-content .row [class^=col] {
    align-self: center;
}

.panel-content-note {
    display: flex;
    align-items: center;
}

.panel-content .col-12.cart-table-add-info {
    align-self: auto;
}

.panel input[type="text"],
.search-input {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    font-size: 14px;
}

.panel-content {
}

.panel-content .row {
    padding: 5px 0;
    border-bottom: 1px solid #dddddd;
}

.panel-content .row .col-button input {
    width: 100%;
}

.panel-content .row:last-child {
    border-bottom: none;
}

.cart-table .panel-content .cart-table-checkout [class^="col-"] {
    padding: 0;    
}

.cart-table .material-icons {
    font-size: 16px;
}

.cart-table .panel-content {
    text-align: center;
}

.cart-table .form-group,
.cart-table .form-group label {
    margin-bottom: 0;
}

.cart-table .form-group label {
    text-align: left;
}

.panel-content .cart-table-checkout {
    align-self: stretch;
    border-right: 1px solid #dddddd;
}

.panel-content .cart-table-checkout .row > div:first-child {
    padding-left: 3px;
    text-align: left;
}

.no-borders {
    padding-left: 0;
    padding-right: 0;
}

.cart-table-btn-apply {
    margin-top: 14px;
    padding-left: 2px;
}

.panel .form-group span,
.panel .search-input-wrapper span {
    font-size: 10px;
    color: #aaaaaa;
}

.search-panel-container {
    padding-left: 10px;
    padding-right: 10px;
}

.search-input-wrapper {
    display: inline-block;
    padding-right: 10px; 
}

.full-width {
    width: 100%;
}


.no-border-bottom {
    border-bottom: none !important;
}


.panel.payment-details .form-group,
.panel.payment-details label {
    margin-bottom: 0px;
}
.panel.payment-details label {
    width: 100%;
}

.panel-table {
    border-radius: 55px;
}

.panel-content.table-container {
    padding: 5px;
}

.panel-content .table-buttons {
    padding: 5px 0;
    display: flex;
}

.border-left {
    border-left: 1px solid #e5e5e5; 
}

.table-buttons-container {
    display: flex;
    border-right: 1px solid #e5e5e5;
    padding-right: 10px;
    margin-right: 10px;
}

.table-buttons-container:last-child {
    border: none;
}

.table-buttons-container button {
    margin: 0 3px;
}

.container-table {
    margin: 10px;
}

.table-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.commented {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid rgb(246, 156, 85);
    border-right: 10px solid transparent;
    top: -10px;
    left: -10px;
}

.table-cell-container {
    position: relative;
}

@media (min-width: 992px) { 
    .panel-content {
        min-width: none;
    }
}