<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-10">
                Open Credits
            </div>
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-success" value="New">
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row title">
            <div class="col-2 col-lg-2"></div>
            <div class="col-2 col-lg-2">Voucher</div>
            <div class="col-2 col-lg-1">Amount</div>
            <div class="col-2 col-lg-1">Created</div>
            <div class="col-2 col-lg-1">Expires</div>
            <div class="col-2 col-lg-4">Notes</div>
        </div>
        <div class="row">
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-success" value="Use">
                <input type="button" class="btn btn-sm btn-primary" value="View">
            </div>
            <div class="col-2">
               43567891
            </div>
            <div class="col-2 col-lg-1">$75.00</div>
            <div class="col-2 col-lg-1">01Apr17</div>
            <div class="col-2 col-lg-1">01Apr18</div>
            <div class="col-2 col-lg-4">Flight 405 was canceled on 4/1</div>
        </div>
        <div class="row">
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-success" value="Use">
                <input type="button" class="btn btn-sm btn-primary" value="View">
            </div>
            <div class="col-2">
               43567891
            </div>
            <div class="col-2 col-lg-1">$75.00</div>
            <div class="col-2 col-lg-1">01Apr17</div>
            <div class="col-2 col-lg-1">01Apr18</div>
            <div class="col-2 col-lg-4">Flight 405 was canceled on 4/1</div>
        </div>
    </div>
</div>