<div class="panel payment-details">
    <div class="panel-title">
        <div class="row">
            <div class="col-10">
                Payment details
            </div>
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-success" value="Add">
            </div>
        </div>
    </div>
    <div class="panel-content">
            <div class="row no-border-bottom">
                <div class="col-3">
                    <input type="button" class="btn btn-sm btn-primary full-width" 
                        value="CC">
                </div>
                <div class="col-3">
                    <input type="button" class="btn btn-sm full-width" 
                        value="Cash">
                </div>
                <div class="col-3">
                    <input type="button" class="btn btn-sm full-width" 
                        value="Voucher">
                </div>
                <div class="col-3">
                    <input type="button" class="btn btn-sm full-width" 
                        value="Account">
                </div>
            </div>
            <div class="row no-border-bottom">
                <div class="col-12 col-lg-6">
                    <label>
                        <div class="form-group">
                            <span>Amount</span>
                            <input type="text" class="form-control">
                        </div>
                    </label>
                </div>
            </div>
            <div class="row no-border-bottom">
                <div class="col-12 col-lg-6">
                    <label>
                        <div class="form-group">
                            <span>Card number</span>
                            <input type="text" class="form-control">
                        </div>
                    </label>
                </div>
                <div class="col-12 col-lg-2">
                    <label>
                        <div class="form-group">
                            <span>Expiry</span>
                            <input type="text" class="form-control">
                        </div>
                    </label>
                </div>
                <div class="col-12 col-lg-2">
                    <label>
                        <div class="form-group">
                            <span>CVV</span>
                            <input type="text" class="form-control">
                        </div>
                    </label>
                </div>
            </div>
            <div class="row no-border-bottom">
                <div class="col-6">
                    <label>
                        <div class="form-group">
                            <span>Cardholder Name</span>
                            <input type="text" class="form-control">
                        </div>
                    </label>
                </div>
                <div class="col-6">
                    <label>
                        <div class="form-group">
                            <span>City</span>
                            <input type="text" class="form-control">
                        </div>
                    </label>
                </div>
            </div>
            <div class="row no-border-bottom">
                <div class="col-6">
                    <label>
                        <div class="form-group ">
                            <span>Street Address 1</span>
                            <input type="text" class="form-control">
                        </div>
                    </label>
                </div>
                <div class="col-6">
                    <label>
                        <div class="form-group">
                            <span>State / Province</span>
                            <input type="text" class="form-control">
                        </div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>
                        <div class="form-group">
                            <span>Street Address 2</span>
                            <input type="text" class="form-control">
                        </div>
                    </label>
                </div>
                <div class="col-6">
                    <label>
                        <div class="form-group">
                            <span>Zip</span>
                            <input type="text" class="form-control">
                        </div>
                    </label>
                </div>
            </div>
        </div>
</div>