
<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-12">
                Schedule and Inventory
            </div>
        </div>
    </div>
    <div class="panel-content table-container">
        <div class="table-buttons">
            <div class="table-buttons-container">
                <button class="btn btn-sm btn-icon-text">
                    <div class="material-icons icon-sm">add</div>
                    <div>New Flight</div>
                </button>
            </div>
            <div class="table-buttons-container">
                <button class="btn btn-sm btn-icon-text">
                    <div class="material-icons icon-sm">save</div>
                    <div>New Flight</div>
                </button>
                <button class="btn btn-sm btn-icon-text">
                    <div class="material-icons icon-sm">not_interested</div>
                    <div>Reject Changes</div>
                </button>
                <button class="btn btn-sm btn-icon-text">
                    <div class="material-icons icon-sm">shopping_cart</div>
                    <div>Get Changes</div>
                </button>
            </div>
            <div class="table-buttons-container">
                <button class="btn btn-sm btn-icon-text">
                    <div class="material-icons icon-sm">undo</div>
                    <div>Undo (7)</div>
                </button>
                <button class="btn btn-sm btn-icon-text" disabled>
                    <div class="material-icons icon-sm">redo</div>
                    <div>Redo (0)</div>
                </button>
            </div>
        </div>
        <table class="table table-bordered full-width" width="100%">
            <thead class="thead-default">
            <tr>
                <th></th>
                <th>
                    <div class="table-header-container">
                        <div>Flight</div>
                        <div class="material-icons icon-sm">filter_list</div>
                    </div>
                </th>
                <th>                    
                    <div class="table-header-container">
                        <div>Origin</div>
                        <div class="material-icons icon-sm">filter_list</div>
                    </div>
                </th>
                <th>                    
                    <div class="table-header-container">
                        <div>Dest</div>
                        <div class="material-icons icon-sm">filter_list</div>
                    </div>
                </th>
                <th>                    
                    <div class="table-header-container">
                        <div>DepDate</div>
                        <div class="material-icons icon-sm">filter_list</div>
                    </div>
                </th>
                <th>                    
                    <div class="table-header-container">
                        <div>DepTime</div>
                        <div class="material-icons icon-sm">filter_list</div>
                    </div>
                </th>
                <th>                    
                    <div class="table-header-container">
                        <div>ArrDate</div>
                        <div class="material-icons icon-sm">filter_list</div>
                    </div>
                </th>
                <th>                    
                    <div class="table-header-container">
                        <div>ArrTime</div>
                        <div class="material-icons icon-sm">filter_list</div>
                    </div>
                </th>
                <th>                   
                    <div class="table-header-container">
                        <div>DoW</div>
                        <div class="material-icons icon-sm">filter_list</div>
                    </div>
                </th>
                <th>                    
                    <div class="table-header-container">
                        <div>Inventory</div>
                        <div class="material-icons icon-sm">filter_list</div>
                    </div>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-center">1</td>
                    <td>9X1234</td>
                    <td>PIT</td>
                    <td>AOO</td>
                    <td>18May17</td>
                    <td>08:00</td>
                    <td>Thursday</td>
                    <td>09:00</td>
                    <td>Y9B6M3</td>
                    <td class="align-center">
                        <input type="checkbox">
                    </td>
                    <td class="align-center">
                        <button class="btn btn-sm btn-icon-text">
                            <div class="material-icons icon-sm">content_cut</div>
                            <div>Delete</div>
                        </button>
                    </td>
                <tr>
                                <tr>
                    <td class="align-center">2</td>
                    <td>9X1234</td>
                    <td>PIT</td>
                    <td>AOO</td>
                    <td>18May17</td>
                    <td>08:00</td>
                    <td>Thursday</td>
                    <td>09:00</td>
                    <td>Y9B6M3</td>
                    <td class="align-center">
                        <input type="checkbox">
                    </td>
                    <td class="align-center">
                        <button class="btn btn-sm btn-icon-text">
                            <div class="material-icons icon-sm">content_cut</div>
                            <div>Delete</div>
                        </button>
                    </td>
                <tr>
                <tr>
                    <td class="align-center">3</td>
                    <td>9X1234</td>
                    <td>PIT</td>
                    <td>AOO</td>
                    <td>18May17</td>
                    <td>
                        <div class="table-cell-container">
                            <div class="commented"></div>
                            08:00
                        </div>
                    </td>
                    <td>Thursday</td>
                    <td>09:00</td>
                    <td>Y9B6M3</td>
                    <td class="align-center">
                        <input type="checkbox">
                    </td>
                    <td class="align-center">
                        <button class="btn btn-sm btn-icon-text">
                            <div class="material-icons icon-sm">content_cut</div>
                            <div>Delete</div>
                        </button>
                    </td>
                <tr>
                <tr>
                    <td class="align-center">4</td>
                    <td>9X1234</td>
                    <td>PIT</td>
                    <td>AOO</td>
                    <td>18May17</td>
                    <td>08:00</td>
                    <td>Thursday</td>
                    <td>09:00</td>
                    <td>Y9B6M3</td>
                    <td class="align-center">
                        <input type="checkbox">
                    </td>
                    <td class="align-center">
                        <button class="btn btn-sm btn-icon-text">
                            <div class="material-icons icon-sm">content_cut</div>
                            <div>Delete</div>
                        </button>
                    </td>
                <tr>
                <tr>
                    <td class="align-center">5</td>
                    <td>9X1234</td>
                    <td>PIT</td>
                    <td>AOO</td>
                    <td>                        
                        <div class="table-cell-container">
                            <div class="commented"></div>
                            18May17
                        </div>
                    </td>
                    <td>08:00</td>
                    <td>Thursday</td>
                    <td>09:00</td>
                    <td>Y9B6M3</td>
                    <td class="align-center">
                        <input type="checkbox">
                    </td>
                    <td class="align-center">
                        <button class="btn btn-sm btn-icon-text">
                            <div class="material-icons icon-sm">content_cut</div>
                            <div>Delete</div>
                        </button>
                    </td>
                <tr>
                <tr>
                    <td class="align-center">6</td>
                    <td>9X1234</td>
                    <td>PIT</td>
                    <td>AOO</td>
                    <td>18May17</td>
                    <td>08:00</td>
                    <td>                      
                        <div class="table-cell-container">
                            <div class="commented"></div>
                            Thursday
                        </div></td>
                    <td>09:00</td>
                    <td>Y9B6M3</td>
                    <td class="align-center">
                        <input type="checkbox">
                    </td>
                    <td class="align-center">
                        <button class="btn btn-sm btn-icon-text">
                            <div class="material-icons icon-sm">content_cut</div>
                            <div>Delete</div>
                        </button>
                    </td>
                <tr>
            </tr>
            </tbody>
        </table>
    </div>
</div>