<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-10">
                Contact Info
            </div>
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-success" value="Add">
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row title">
            <div class="col-2"></div>
            <div class="col-5">Type</div>
            <div class="col-5">Contact</div>
        </div>
        <div class="row">
            <div class="col-2">
                <div>
                    <a href="#"><span class="material-icons">&#xE254;</span></a>
                    <a href="#"><span class="material-icons">&#xE872;</span></a>
                </div>
            </div>
            <div class="col-5">Cell</div>
            <div class="col-5">952-649-0324</div>
        </div>
        <div class="row">
            <div class="col-2">
                <div>
                    <a href="#"><span class="material-icons">&#xE254;</span></a>
                    <a href="#"><span class="material-icons">&#xE872;</span></a>
                </div>
            </div>
            <div class="col-5">Email</div>
            <div class="col-5">daniel@paxiq.com</div>
        </div>
    </div>

</div>