<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-12">
                History
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row title">
            <div class="col-5">Event</div>
            <div class="col-3">Date</div>
            <div class="col-4">Agent</div>
        </div>
        <div class="row">
            <div class="col-5">Created booking</div>
            <div class="col-3">17May17</div>
            <div class="col-4">Nicole McCall</div>
        </div>
        <div class="row">
            <div class="col-5">Added SSRs</div>
            <div class="col-3">17May17</div>
            <div class="col-4">Nicole McCall</div>
        </div>
    </div>
</div>