<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/panel.css">
        <link type="text/css" rel="stylesheet" href="css/main.css">
        <link type="text/css" rel="stylesheet" href="css/navbar.css">
    </head>
    <body>
        <div class="wrapper ">
            <%- include('../navbar') %>
            <div class="content container">
                <div class="row d-flex align-items-stretch">
                    <div class="col-12 col-lg-6">
                        <%- include('../pax/caller-info') %>
                    </div>
                    <div class="col-12 col-lg-6">
                        <%- include('reservation') %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
                        <%- include('contact-info') %>
                        <%- include('payments') %>
                    </div>
                    <div class="col-12 col-lg-6">
                        <%- include('ticket-coupons') %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <%- include('spec-service-req') %>
                    </div>
                    <div class="col-12 col-lg-3">
                        <%- include('history') %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <%- include('addons') %>
                    </div>
                    <div class="col-12 col-lg-7">
                        <%- include('../res/booking-notes') %>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('modal-change-reservation') %>

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/tether.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>