<div class="modal fade" id="changeReservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newProfileModalLabel">Change Reservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-6 col-lg-8">
                <div class="modal-amount-container">
                    <div class="modal-amount-text">
                        <span>Amount Due: </span>
                        <span class="modal-amount-money">$200.00</span>
                    </div>
                    <div class="modal-amount-button">
                        <input type="button" class="btn btn-sm btn-success" value="Pay and Reissue">
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-12 col-lg-6">
                <%- include('modal-change-reservation/old-Itinerary') %>
            </div> 
           <div class="col-12 col-lg-6">
                <%- include('modal-change-reservation/new-Itinerary') %>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <%- include('../res/search/inputs') %>
            </div>
            <div class="col-12">
                <%- include('modal-change-reservation/search') %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>