<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-8">Payments</div>
            <div class="col-2">
                <input type="button" class="btn btn-sm" value="Refund">
            </div>
            <div class="col-2">
                <input type="button" class="btn btn-sm" value="Add">
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row title">
            <div class="col-2">Type</div>
            <div class="col-3">Ref</div>
            <div class="col-2">Date</div>
            <div class="col-3">Agent</div>
            <div class="col-2">Amount</div>
        </div>
        <div class="row">
            <div class="col-2">CC</div>
            <div class="col-3">4444x1111</div>
            <div class="col-2">17May17</div>
            <div class="col-3">Nicole McCall</div>
            <div class="col-2">$150.00</div>
        </div>
        <div class="row">
            <div class="col-2">CC</div>
            <div class="col-3">4444x1111</div>
            <div class="col-2">17May17</div>
            <div class="col-3">Nicole McCall</div>
            <div class="col-2">$26.00</div>
        </div>
    </div>
</div>