<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-10">Special Service Requests</div>
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-success" value="Add">
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row title">
            <div class="col-1 col-lg-1"></div>
            <div class="col-2 col-lg-1">Flight</div>
            <div class="col-2 col-lg-1">Date</div>
            <div class="col-2 col-lg-2">Passenger</div>
            <div class="col-2 col-lg-2">Request</div>
            <div class="col-2 col-lg-4">Note</div>
        </div>
        <div class="row">
            <div class="col-1 col-lg-1">
                <a href="#"><span class="material-icons">&#xE254;</span></a>
                <a href="#"><span class="material-icons">&#xE872;</span></a>
            </div>
            <div class="col-2 col-lg-1">9X212</div>
            <div class="col-2 col-lg-2">30May17</div>
            <div class="col-2 col-lg-2">Helland / Daniel</div>
            <div class="col-2 col-lg-2">Wheelchair</div>
            <div class="col-2 col-lg-4">Pax needs wheelchair to go to baggage claim</div>
        </div>
    </div>
</div>