<div class="panel">
    <div class="panel-title">
        <div class="row">
            <div class="col-12">Ticket Coupons</div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row title">
            <div class="col-1 col-lg-1"></div>
            <div class="col-2 col-lg-2">Name</div>
            <div class="col-1 col-lg-2">Route</div>
            <div class="col-2 col-lg-2">Date</div>
            <div class="col-3 col-lg-2">Ticket Number</div>
            <div class="col-2 col-lg-1">Coupon</div>
            <div class="col-1 col-lg-2 align-right">Status</div>
        </div>
        <div class="row">
            <div class="col-1">
                <a href="#"><span class="material-icons">&#xE8B6;</span></a>
                <a href="#"><span class="material-icons">&#xE254;</span></a>
            </div>
            <div class="col-2 col-lg-2">Helland / Daniel</div>
            <div class="col-1 col-lg-2">AOO-PIT</div>
            <div class="col-2 col-lg-2">30May17</div>
            <div class="col-3 col-lg-2 number-ticket">60900001001001</div>
            <div class="col-2 col-lg-2">1</div>
            <div class="col-1 col-lg-1">O</div>
        </div>
        <div class="row">
            <div class="col-1">
                <a href="#"><span class="material-icons">&#xE8B6;</span></a>
                <a href="#"><span class="material-icons">&#xE254;</span></a>
            </div>
            <div class="col-2 col-lg-2">Helland / Daniel</div>
            <div class="col-1 col-lg-2">AOO-PIT</div>
            <div class="col-2 col-lg-2">30May17</div>
            <div class="col-3 col-lg-2 number-ticket">60900001001001</div>
            <div class="col-2 col-lg-2">1</div>
            <div class="col-1 col-lg-1">O</div>
        </div>
        
    </div>
</div>