<div class="row">
    <div class="inputs-container">
        <div class="form-group form-wrapper">
            <div class="">
                <label>
                    <span>Origin</span>
                    <input type="text" class="form-control">
                </label>
            </div>
            <div>
                <label>
                    <input type="text" class="form-control">
                </label>
            </div>
        </div>
        <div class="form-group form-wrapper">
            <div>
                <label>
                    <span>Destination</span>
                    <input type="text" class="form-control">
                </label>
            </div>
            <div>
                <label>
                    <input type="text" class="form-control">
                </label>
            </div>
        </div>
        <div class="form-group form-wrapper">
            <div>
                <label>
                    <span>Date</span>
                    <input type="text" class="form-control">
                </label>
            </div>
            <div>
                <label>
                    <input type="text" class="form-control">
                </label>
            </div>
        </div>
        <div class="form-group form-wrapper">
            <div class="d-flex align-items-end">
                <div class="icon-wrapper">
                    <a href="#">
                        <i class="material-icons">
                        &#xE147;
                        </i>
                    </a>
                </div>
                <div>
                    <label>
                        <span>Adults</span>
                        <input type="text" class="form-control">
                    </label>
                </div>
            </div>
            <div>
                <div class="icon-wrapper">
                    <a href="#">
                        <i class="material-icons">
                        &#xE147;
                        </i>
                    </a>
                </div>
                <div class="icon-wrapper">
                    <a href="#">
                        <i class="material-icons">
                        &#xE15C;
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group form-wrapper select-wrapper">
            <select class="form-control">
                <option>Confirmed</option>
                <option>Standby</option>
            </select>
        </div>
    </div>
</div>