<div class="panel panel-no-borders">
    <div class="panel-content">
        <div class="row title">
            <div class="col-12">
                New Itinerary
            </div>
        </div>
        <div class="row">
            <div class="col-2">AOO-PIT</div>
            <div class="col-2">1330-1430</div>
            <div class="col-2">9X212</div>
            <div class="col-2">30May</div>
            <div class="col-2">$59.00</div>
            <div class="col-1">x2</div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-2">AOO-PIT</div>
            <div class="col-2">1330-1430</div>
            <div class="col-2">9X212</div>
            <div class="col-2">30May</div>
            <div class="col-2">$59.00</div>
            <div class="col-1">x2</div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-8">Trip Protection</div>
            <div class="col-2">$59.00</div>
            <div class="col-1">x2</div>
        </div>
        <div class="row">
            <div class="col-7">Change Fee</div>
            <div class="col-1">
                <a href="#"><span class="material-icons">&#xE254;</span></a>
            </div>
            <div class="col-2">$59.00</div>
            <div class="col-1">x2</div>
            <div class="col-1">
                <a href="#"><span class="material-icons">&#xE872;</span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-8">Original Total</div>
            <div class="col-2">$159.00</div>
        </div>
    </div>
</div>