<div class="panel panel-no-borders">
    <div class="panel-content">
        <div class="search-panel-container">
            <div class="row title">
                <div class="col-2">Route</div>
                <div class="col-2">Time</div>
                <div class="col-2">Flight</div>
                <div class="col-2">Discount
                    <a href="#"><span class="material-icons icon-md">&#xE88E;</span></a>
                </div>
                <div class="col-2">Standard
                    <a href="#"><span class="material-icons icon-md">&#xE88E;</span></a>
                </div>
                <div class="col-2">Refundable
                    <a href="#"><span class="material-icons icon-md">&#xE88E;</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">AOO-PIT</div>
                <div class="col-2">0900-1000</div>
                <div class="col-2">9X210</div>
                <div class="col-2">$29.00</div>
                <div class="col-2">$49.00</div>
                <div class="col-2">$69.00</div>
            </div>
            <div class="row">
                <div class="col-2">AOO-PIT</div>
                <div class="col-2">0900-1000</div>
                <div class="col-2">9X210</div>
                <div class="col-2">$29.00</div>
                <div class="col-2">$49.00</div>
                <div class="col-2">$69.00</div>
            </div>
            <div class="row">
                <div class="col-2">AOO-PIT</div>
                <div class="col-2">0900-1000</div>
                <div class="col-2">9X210</div>
                <div class="col-2">$29.00</div>
                <div class="col-2">$49.00</div>
                <div class="col-2">$69.00</div>
            </div>
        </div>
        <div class="search-panel-container">
            <div class="row title">
                <div class="col-2">Route</div>
                <div class="col-2">Time</div>
                <div class="col-2">Flight</div>
                <div class="col-2">Discount
                    <a href="#"><span class="material-icons icon-md">&#xE88E;</span></a>
                </div>
                <div class="col-2">Standard
                    <a href="#"><span class="material-icons icon-md">&#xE88E;</span></a>
                </div>
                <div class="col-2">Refundable
                    <a href="#"><span class="material-icons icon-md">&#xE88E;</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">PIT-AOO</div>
                <div class="col-2">0900-1000</div>
                <div class="col-2">9X210</div>
                <div class="col-2">$29.00</div>
                <div class="col-2">$49.00</div>
                <div class="col-2">$69.00</div>
            </div>
            <div class="row">
                <div class="col-2">PIT-AOO</div>
                <div class="col-2">0900-1000</div>
                <div class="col-2">9X210</div>
                <div class="col-2">$29.00</div>
                <div class="col-2">$49.00</div>
                <div class="col-2">$69.00</div>
            </div>
            <div class="row">
                <div class="col-2">PIT-AOO</div>
                <div class="col-2">0900-1000</div>
                <div class="col-2">9X210</div>
                <div class="col-2">$29.00</div>
                <div class="col-2">$49.00</div>
                <div class="col-2">$69.00</div>
            </div>
        </div>
    </div>
</div>